/* SmallCard.css */

.small-card {
  transition: transform 0.4s ease; /* Animasi transformasi saat hover */
  cursor: pointer;
}

.small-card:hover {
  transform: scale(1.05); /* Ukuran sedikit lebih besar saat hover */
}
  

.small-card-image {
  width: 100%;
  height: 0;
  padding-top: 150%; /* Rasio aspek gambar */
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Warna lapisan transparan */
}

.text {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  color: white;
}
